.tabl{

  .Timetable{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    .Link{

    }
    a{

      outline: none;
      text-decoration: none;
    }
    .TimetableClasses{
      background-color: #006cb5;
      padding: 10px 24vmin;
      color:#fff;
    }
    .TimetableSession{
      background-color: #fff;
      padding: 10px 24vmin;
      color:#006cb5;
    }
    .TimetableSession:hover{
      background-color: #006cb5;
      color:#fff;
    }
    .TimetableClasses:active{
      background-color: #fff;
      padding: 10px 24vmin;
      color:#006cb5;
    }
    .TimetableSession:after{
      padding: 10px 24vmin;
      background-color: #006cb5;
      color:#fff;
    }
  }
}
.otstup{
  margin-top: 20px;
}
.tablic{
  display: flex;
  flex-direction: column;

  .head_table{
    background-color: #006cb5;
    color:#fff;
    padding: 3px 25vmin;
    h4{
      margin: 12px;
    }
  }
  .body_table{
    margin: 0px;
    display: flex;
    flex-direction:row;
    width: 100%;
    h5{
      margin-bottom: 0px;
      padding-bottom: 7px;
      border-bottom: 1.35px solid #000;
    }
    .left_col{
      width:30%;
    }
    .time{
      border: 1px solid #8e8e8e;
      border-left: 0px;
      border-bottom: 0px;
                height: 65px;
      padding: 7vh 2em 1vh 2em;
    }

    .timeSubgroup{
      border-right: 1px solid #8e8e8e;
      border-bottom: 0px;
      border-left: 0px;
      border-top: 1px solid #fff;
                height: 65px;
      padding: 8vh 2em 0vh 2em;
    }
    .right_col{
      text-align: left;
      width:70%;
      h5{
        padding-left:10px
      }
    }
    .discip{
      border: 1px solid #8e8e8e;
      border-bottom: 0px;
      border-right: 0px;
      border-left: 0px;
            height: 65px;
      padding: 4vh 1em;
    }
  }
}
@media screen and (max-width: 1309px) {
.tabl{
  .Timetable{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    .Link{

    }
    a{

      outline: none;
      text-decoration: none;
    }
    .TimetableClasses{
      background-color: #006cb5;
      padding: 10px 0vmin;
      color:#fff;
    }
    .TimetableSession{
      background-color: #fff;
      padding: 10px 0vmin;
      color:#006cb5;
    }
    .TimetableSession:hover{
      background-color: #006cb5;
      color:#fff;
    }
    .TimetableClasses:active{
      background-color: #fff;
      padding: 10px 0vmin;
      color:#006cb5;
    }
    .TimetableSession:after{
      padding: 10px 0vmin;
      background-color: #006cb5;
      color:#fff;
    }
  }
}
}
