.tabl .Timetable {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .tabl .Timetable a {
    outline: none;
    text-decoration: none; }
  .tabl .Timetable .TimetableClasses {
    background-color: #006cb5;
    padding: 10px 24vmin;
    color: #fff; }
  .tabl .Timetable .TimetableSession {
    background-color: #fff;
    padding: 10px 24vmin;
    color: #006cb5; }
  .tabl .Timetable .TimetableSession:hover {
    background-color: #006cb5;
    color: #fff; }
  .tabl .Timetable .TimetableClasses:active {
    background-color: #fff;
    padding: 10px 24vmin;
    color: #006cb5; }
  .tabl .Timetable .TimetableSession:after {
    padding: 10px 24vmin;
    background-color: #006cb5;
    color: #fff; }

.otstup {
  margin-top: 20px; }

.tablic {
  display: flex;
  flex-direction: column; }
  .tablic .head_table {
    background-color: #006cb5;
    color: #fff;
    padding: 3px 25vmin;
    display: flex;
    flex-direction: row; }
    .tablic .head_table h4 {
      margin: 12px;
      margin-left: 45%; }
    .tablic .head_table .circleIn {
      background-color: #d73434;
      margin-top: 16px;
      width: 7px;
      height: 7px;
      border-radius: 10px; }
  .tablic .body_table {
    margin: 0px;
    display: flex;
    flex-direction: row;
    width: 100%; }
    .tablic .body_table h5 {
      margin-bottom: 0px;
      padding-bottom: 7px;
      border-bottom: 1.35px solid #000; }
    .tablic .body_table .left_col {
      width: 30%; }
    .tablic .body_table .time {
      border: 1px solid #8e8e8e;
      border-left: 0px;
      border-bottom: 0px;
      height: 65px;
      padding: 7vh 2em 1vh 2em; }
    .tablic .body_table .timeSubgroup {
      border-right: 1px solid #8e8e8e;
      border-bottom: 0px;
      border-left: 0px;
      border-top: 1px solid #fff;
      height: 65px;
      padding: 8vh 2em 0vh 2em; }
    .tablic .body_table .right_col {
      text-align: left;
      width: 70%; }
      .tablic .body_table .right_col h5 {
        padding-left: 10px; }
    .tablic .body_table .discip {
      border: 1px solid #8e8e8e;
      border-bottom: 0px;
      border-right: 0px;
      border-left: 0px;
      height: 65px;
      padding: 4vh 1em; }

@media screen and (max-width: 1309px) {
  .tabl .Timetable {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .tabl .Timetable a {
      outline: none;
      text-decoration: none; }
    .tabl .Timetable .TimetableClasses {
      background-color: #006cb5;
      padding: 10px 0vmin;
      color: #fff; }
    .tabl .Timetable .TimetableSession {
      background-color: #fff;
      padding: 10px 0vmin;
      color: #006cb5; }
    .tabl .Timetable .TimetableSession:hover {
      background-color: #006cb5;
      color: #fff; }
    .tabl .Timetable .TimetableClasses:active {
      background-color: #fff;
      padding: 10px 0vmin;
      color: #006cb5; }
    .tabl .Timetable .TimetableSession:after {
      padding: 10px 0vmin;
      background-color: #006cb5;
      color: #fff; } }

/*# sourceMappingURL=table.css.map */
