.tabl{
  .Timetable{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    a{
      outline: none;
      text-decoration: none;
    }
    .TimetableClasses{
      background-color: #006cb5;
      padding: 10px 20px;
      color:#fff;
    }
    .TimetableSession{
      background-color: #fff;
      padding: 10px 20px;
      color:#006cb5;
    }
  }
}
.tablic{
  display: flex;
  flex-direction: column;

  .head_table{
    background-color: #006cb5;
    color:#fff;
    padding: 0px 25vw;
    h4{
      margin: 12px;
    }
  }
  .body_table{
    margin: 0px;
    display: flex;
    flex-direction:row;
    width: 100%;
    h5{
      margin-bottom: 0px;
      padding-bottom: 7px;
      border-bottom: 2px solid #000;
    }
    .left_col{
      width:30%;
    }
    .time{
      border: 1px solid #8e8e8e;
      border-left: 0px;
      border-top: 0px;
      padding: 1em;
    }
    .right_col{
      width:70%;
    }
    .discip{
      border: 1px solid #8e8e8e;
      border-top: 0px;
      border-right: 0px;
      border-left: 0px;
      padding: 1em;
    }
  }
}
